
.speaker-detail img {
  max-width: 140px;
  border-radius: 50%;
}

.speaker-detail {
  p.description {
    color: #60646B;
    font-size: 1.5em;
  }

  p.biography {
    font-size: 1.2em;
    text-align: justify;
    line-height: 1.3em;
  }
}


