
.speaker-list {

  .outer-content {
    .button-default {
      min-height: 3.6rem;
      white-space: normal;
    }
    .button {
      height: auto;

      h3 {
        font-weight: bold;
        color: white;
      }
    }
  }

  ion-avatar {
    img {
      max-width: 10rem;
      max-height: 10rem;
    }
  }

  ion-label {
    white-space: normal;
  }

  ion-card.speaker ion-card-header .item {
    padding: 12px;
  }

  ion-card.speaker ion-card-content .list {
    margin: 0;
  }

  ion-card.speaker ion-card-header,
  ion-card.speaker ion-card-content,
  ion-card.speaker ion-card-content .list ion-item-content {
    padding: 0;
  }

}
