<ion-navbar *navbar>
    <ion-title>Schedule</ion-title>
</ion-navbar>


<ion-content padding class="page1">
    <ion-list no-lines>
        <ion-item-group *ngFor="#day of schedule">
            <ion-item-divider light>
                {{day.date | date:"dd/MM/yyyy"}}
            </ion-item-divider>

            <ion-item *ngFor="#meeting of day.meetings" >
                <div item-left class="{{meeting.type}}">
                    <ion-icon name="clock-outline"></ion-icon>
                    <p>{{meeting.timeStart | date:'HH:mm'}}</p>
                    <p>{{meeting.timeEnd | date:'HH:mm'}}</p>
                </div>
                
                <h3>{{meeting.title}}</h3>
                <p>{{meeting.about}}</p>
            </ion-item>

        </ion-item-group>
    </ion-list>
</ion-content>