.page1 {

}

.conference {
    padding-top: 4px;
    border-bottom-width: 8px;
    margin-bottom: 1px;
    margin-top: 1px;
    margin-right: 5px;
    padding-right: 11px;
    padding-bottom: 4px;
    padding-left: 11px;
    background-color: #164BA4;
}

.conference p, .conference ion-icon, .food ion-icon, .food p {
    color: #fff;
}


.food {
    padding-top: 4px;
    border-bottom-width: 8px;
    margin-bottom: 1px;
    margin-top: 1px;
    margin-right: 5px;
    padding-right: 11px;
    padding-bottom: 4px;
    padding-left: 11px;
    background-color: #7AC37A;
}
