.schedule-star {
    font-size: 30px;
}

.track p {
    color:#fff;
    font-weight: bold;
}

.track-0 {
    background-color: #9f9f9f;
}

.track-1 {
    background-color: #387EF5;
}

.track-2 {
    background-color: #E1AD38;
}

.track-3 {
    background-color: #F53D3D;
}

.track-4 {
    background-color: #32DB64;
}
