<ion-navbar *navbar>
    <ion-title>Schedule</ion-title>
</ion-navbar>

<ion-content class="schedule">
    <div padding>
        <ion-segment [(ngModel)]="tracks" (change)="applyFilters()">
            <ion-segment-button value="all">All</ion-segment-button>
            <ion-segment-button value="mytracks">My tracks</ion-segment-button>
            <!-- <ion-segment-button value="filter">Filter tracks</ion-segment-button>
            <button (click)="presentFilter()" *ngIf="tracks=='filter'">
                <ion-icon name="search"></ion-icon>
            </button> -->
        </ion-segment>
    </div>
    <ion-list>
        <ion-item-group *ngFor="#day of schedule">

            <ion-item-divider sticky>
                {{day.date | date:"dd/MM/yyyy"}}
            </ion-item-divider>
            <ion-row *ngFor="#meeting of day.meetings">
                <ion-col class="track track-{{meeting.track}}" (click)="goToMeetingDetail(meeting)" width-20  *ngIf="meeting.visible == true">
                    <p>{{meeting.timeStart | date:'HH:mm'}}</p>
                    <p>{{meeting.timeEnd | date:'HH:mm'}}</p>
                </ion-col>
                <ion-col width-70 (click)="goToMeetingDetail(meeting)" wrap  *ngIf="meeting.visible == true">
                    <strong>{{meeting.title}}</strong>
                    <p>{{meeting.location}} - Track {{meeting.track}}</p>
                </ion-col>
                <ion-col width-10  *ngIf="meeting.visible == true">
                    <ion-icon [name]="favoriteIcon(meeting)" class="schedule-star" (click)="switchFavorite(meeting, $event)"></ion-icon>
                </ion-col>
            </ion-row>

        </ion-item-group>

    </ion-list>
</ion-content>