.session-detail {

  p {
    font-size: 1.4em;
    text-align: left;
    line-height: 1.4em;

    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
  }
  ion-badge {
    margin: 2px;
  }
}
